$color__background-body: #000;
$color__background-screen: #f1f1f1;
$color__background-hr: #444;
$color__background-button: #3e3e3e;
$color__background-pre: #111;
$color__background-ins: #fff9c0;
$color__background-chrome: #171717;
$color__background-secondary:#1c1c1c;

$color__text-screen: #27b;
$color__text-input: #bbb;
$color__text-input-focus: #ddd;
$color__link: lightskyblue;
$color__link-visited: cornflowerblue;
$color__link-hover: #5f5faf;
$color__text-main: #f1f1f1;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #111;
$color__border-abbr: #666;
